@charset "UTF-8";

body {
    background-color: rgb(180, 255, 186);
}

h1 {
    color: rgb(18, 133, 14);
}

#principal {
    text-align: center;
    background-color: green;
    color: white;
}
h2 {
    color: rgb(62, 158, 62);
}